@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes running-dot {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.running-dot {
  animation: running-dot 4s linear infinite;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  position: relative;
  width: 100%;
  height: 40%;
  z-index: 9;
}

/* .swiper_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  background-color: #222224;
  z-index: 9;
} */

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white; /* Warna ini dipakai oleh difference */
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.swiper-slide {
  width: 37rem;
  height: 40rem;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 800px;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.parallel-logo {
  z-index: 10;
}

.background-parallel {
  background-color: #0e0d0d;
}

.button-play {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.container-marque {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  overflow-x: hidden;
  width: 40%;
  margin: 0 auto;
}

.marquee {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  min-width: min-content;
}

.first-marquee {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  min-width: min-content;
}

.test {
  background-color: #0e0d0d;
}
